ul {
	
	margin: 0;
	padding: 0;
}
li a{
	display: inline-block;
}
#imgdiv {
	margin: 100px;
	margin-bottom: 0px;
	padding: 150px;
}
#search_bar {
	width: 60px;
	margin: -130px;
	margin-left: 0;
	margin-bottom: 0;
	padding-left: 250px;
	float: left;
}
#button1 {
	margin: -10px;
	margin-left: 10px;
	padding-left: 350px;
	float: left;
}
#button2 {
	margin: -10px;
	margin-left: 10px;
	float: left;
}
.clear {
	clear: both;
}